<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE muclient>

<muclient>
<plugin
   name="GMCP"
   author="Richard Moffitt"
   id="29a4c0721bef6ae11c3e9a82"
   language="Lua"
   purpose="Richard's GMCP plugin"
   date_written="2010-03-09 10:04:32"
   requires="4.50"
   version="0.5"
   >
<description trim="y">
<![CDATA[

]]>
</description>

</plugin>
<include name="$PLUGINDIR\libraries\plugger.xml" />
<aliases>
  <alias
	   match="#gmcpdebug"
	   enabled="y"
	   send_to="12"
	   sequence="100"
	  >
		<send>
			if not gmcpdebug then
				gmcpdebug = true
			else
				gmcpdebug = false
			end
		</send>
	</alias>
	 <alias
	   match="#reinstall"
	   enabled="y"
	   send_to="12"
	   sequence="100"
	  >
		<send>
			ReInstall()
		</send>
	</alias>
</aliases>


<!--  Script  -->


</muclient>
